body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right,#CCD0D5,#DADDE1);
    background: -moz-linear-gradient(right,#CCD0D5,#DADDE1);
    background: -o-linear-gradient(right,#CCD0D5,#DADDE1);
    background: linear-gradient(to left, #468de8, #AAC9FF);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }
.login-page {
    width: 560px;
    height: 415px;
    padding: 8% 0 0;
    margin: auto;
  }
  .signup-page{
    width: 560px;
    height: 515px;
    padding: 8% 0 0;
    margin: auto;
  }
  .login-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 560px;
    /* height: 415px; */
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .login-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    /* background: #f2f2f2; */
    background: #b9b5b5;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .login-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    /* background: #4CAF50; */
    background: #2851A3;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin: 10px 0;
  }
  .login-form div{
    margin-top:25px;
    margin-bottom: 25px;
  }
  .login-form label,.login-form span{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    text-align: left;
    /* padding: 15px; */
    display: block;
  }
  .bgs{
    font-size: 30px;
    line-height: 1.2;
    margin: 10px 0 30px;
  }
  .sms{
      font-size: 14px;
      line-height: 1;
    margin: 5px 0;
  }
  .login-form button:hover,.login-form button:active,.login-form button:focus {
    background: #1877F2;
  }
  .invalid-feedback{
    font-size: 11px;
    text-align: left;
    color: red;
    text-transform: capitalize !important;
  }
  